config:
  core.https_address: '[::]:8443'
  core.trust_password: "{{ lxd_trust_password }}"
  images.auto_update_interval: "24"
  images.remote_cache_expiry: "10"

networks:
- config:
    ipv4.address: "{{ lxd_bridge_ipv4_addr }}"
    ipv4.dhcp: "{{ lxd_bridge_ipv4_dhcp | string | lower }}"
    ipv4.dhcp.ranges: "{{ lxd_bridge_ipv4_dhcp_range }}"
    ipv4.nat: "true"
    ipv6.address: "{{ lxd_bridge_ipv6_addr }}"
    ipv6.dhcp: "{{ lxd_bridge_ipv6_enabled | string | lower }}"
    {% if lxd_bridge_ipv6_enabled and lxd_bridge_ipv6_dhcp_range %}
    ipv6.dhcp.ranges: "{{ lxd_bridge_ipv6_dhcp_range }}"
    {% endif %}
  description: ""
  name: "{{ lxd_bridge_name }}"
  type: bridge
  
storage_pools:
- config:
    size: "{{ lxd_storage_pool_size }}"
  description: ""
  name: "{{ lxd_storage_pool_name }}"
  driver: "{{ lxd_storage_backend }}"

profiles:
- config:
    {% if lxd_limits_cpu != "" %}
    limits.cpu: "{{ lxd_limits_cpu }}"
    {% endif %}
    {% if lxd_limits_memory != "" %}
    limits.memory: "{{ lxd_limits_memory }}"
    {% endif %}
    {% if lxd_limits_disk != "" %}
    limits.disk: "{{ lxd_limits_disk }}"
    {% endif %}
  description: "Default LXD profile"
  devices:
    eth0:
      name: eth0
      network: "{{ lxd_bridge_name }}"
      type: nic
    root:
      path: /
      pool: "{{ lxd_storage_pool_name }}"
      type: disk
  name: default

cluster: {% if lxd_enable_clustering %}
  server_name: "{{ inventory_hostname }}"
  enabled: true
  member_config: []
{% else %}
  enabled: false
{% endif %}
